body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: black;
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.tweet-marker {
  border-radius: 50%;
  background-color: white;
  -webkit-animation-name: example;
  -webkit-animation-duration: 4s;
  animation-name: tweet-colors;
  animation-duration: 4s;
}

@-webkit-keyframes tweet-colors {
  from {background-color: blue;}
  to {background-color: white;}
}

@keyframes tweet-colors {
  from {background-color: blue;}
  to {background-color: white;}
}
